<!DOCTYPE html>
<html lang="EN">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages.css') }}">
    <title>stray</title>
</head>
<body>

    <div class="total_container">
        <div class="top_container">

            <a href="{{ url_for('hello') }}"><img src="{{ url_for('static', filename='images/blur50.png') }}" alt="Stray logo" class="logo" alt="stray logo"></a>

            <div class="rightside">
                <div class="nav">
                    <a href="{{ url_for('blog') }}" class="button">Blog</a>
                    <a href="{{ url_for('education') }}" class="button">Education/Skills</a>
                    <a href="{{ url_for('projects') }}" class="button">Projects</a>
                    <a href="{{ url_for('archives') }}" class="button">Archives</a>
                </div>

                <div class="blog_list">
                    <div class="post">
                        <h1>Under construction...</h1>
                        <p>Under construction...</p>
                    </div>

                    <div class="post">
                        <h1>Under construction...</h1>
                        <p>Under construction...</p>
                    </div>

                    <div class="post">
                        <h1>Under construction...</h1>
                        <p>Under construction...</p>
                    </div>

                    <div class="post">
                        <h1>Under construction...</h1>
                        <p>Under construction...</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</body>
</html>
